@page
@model KoiFarmShop.RazorWebApp.Pages.KoiFarms.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>KoiFarm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="KoiFarm.Id" />
            <div class="form-group">
                <label asp-for="KoiFarm.Name" class="control-label"></label>
                <input asp-for="KoiFarm.Name" class="form-control" />
                <span asp-validation-for="KoiFarm.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoiFarm.Location" class="control-label"></label>
                <input asp-for="KoiFarm.Location" class="form-control" />
                <span asp-validation-for="KoiFarm.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoiFarm.PhoneNumber" class="control-label"></label>
                <input asp-for="KoiFarm.PhoneNumber" class="form-control" />
                <span asp-validation-for="KoiFarm.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoiFarm.Description" class="control-label"></label>
                <input asp-for="KoiFarm.Description" class="form-control" />
                <span asp-validation-for="KoiFarm.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoiFarm.OwnerId" class="control-label"></label>
                <input asp-for="KoiFarm.OwnerId" class="form-control" />
                <span asp-validation-for="KoiFarm.OwnerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoiFarm.Email" class="control-label"></label>
                <input asp-for="KoiFarm.Email" class="form-control" />
                <span asp-validation-for="KoiFarm.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoiFarm.Website" class="control-label"></label>
                <input asp-for="KoiFarm.Website" class="form-control" />
                <span asp-validation-for="KoiFarm.Website" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoiFarm.Image" class="control-label"></label>
                <input asp-for="KoiFarm.Image" class="form-control" />
                <span asp-validation-for="KoiFarm.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoiFarm.AwardImage" class="control-label"></label>
                <input asp-for="KoiFarm.AwardImage" class="form-control" />
                <span asp-validation-for="KoiFarm.AwardImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KoiFarm.Status" class="control-label"></label>
                <input asp-for="KoiFarm.Status" class="form-control" />
                <span asp-validation-for="KoiFarm.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
